[Unit]
Description=Start Frontend on boot

[Service]
Type=simple
User=docker_runner
Group=docker_runner
ExecStart=/usr/bin/docker start brain
ExecStop=/usr/bin/docker stop brain

[Install]
WantedBy=multi-user.target
