.navigation .about-button {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	top: -12px;
	margin: 0;
	width: 100%;
	height: 12px;
	background: #26272b;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.navigation .about-button a {
	position: relative;
	font-family: 'Roboto', cursive;
	font-size: 1.8vw;
	top: -10px;
	width: 15%;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	text-decoration: none;
	height: auto;
	border-radius: 15px 15px 0 0;
	background: #26272b;
	color: white;
	text-align: center;
	cursor: pointer;
	bottom: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.navigation .about-button:hover {
	top: -20px;
	height: 20px;
}

.navigation .about-button:hover a {
	top: -20px;
	font-size: 120%;
}

nav {
	overflow: hidden;
	background-color: #26272b;
}

.sticky {
	background-color: #26272b;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.sticky + .content {
	padding-top: 60px;
}


li {
	margin-top: 2vh;
	margin-bottom: 2vh;
}


nav .menuItems {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 20vw);
	text-align: center;
}

nav .menuItems ul {
	white-space: nowrap;
}

nav .menuItems li a {
	font-family: 'Roboto', cursive;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.8vw;
	font-weight: bold;
	transition: all 0.5s ease-in-out;
	position: relative;
	text-transform: uppercase;
}
nav .menuItems li a::before {
	content: attr(data-item);
	transition: 0.5s;
	color: #fbea2c;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	overflow: hidden;
}
nav .menuItems li a:hover::before {
	width: 100%;
	transition: all 0.5s ease-in-out;
}

