ATTRS{devpath}=="1.4", ACTION=="ADD", ENV{DEVTYPE}=="disk", KERNEL=="sd?", ATTR{authorized}="1", SYMLINK+="USBOutputDisk", RUN+="/usr/bin/systemctl start outpdiskmnt@%k.service"
ATTRS{devpath}=="1.4", ACTION=="ADD", ENV{DEVTYPE}=="partition", KERNEL=="sd??", ATTR{authorized}="1", SYMLINK+="USBOutputPart",RUN+="/usr/bin/systemctl start outppartmnt@%k.service"
ATTRS{devpath}=="1.4", KERNEL=="hid*", RUN+="/bin/bash -c '/usr/bin/echo 0 > /var/lib/docker/volumes/DataShare/_data/BadUSBOutput'", RUN+="/bin/bash -c '/usr/bin/echo 0 > /sys/bus/usb/devices/1-1.4/authorized'"

ATTRS{devpath}=="1.4", ACTION=="ADD", ENV{DEVTYPE}=="disk", KERNEL=="sd?", ATTR{authorized}="1", RUN+="/usr/bin/systemctl stop outpdiskmnt@%k.service"
ATTRS{devpath}=="1.4", ACTION=="ADD", ENV{DEVTYPE}=="partition", KERNEL=="sd??", ATTR{authorized}="1", RUN+="/usr/bin/systemctl stop outppartmnt@%k.service"
