ATTRS{devpath}=="1.3", KERNEL=="usb", SYMLINK+="USBInputDetected"
ATTRS{devpath}=="1.3", ENV{DEVTYPE}=="disk", SYMLINK+="USBInputDisk", ATTR{authorized}:="1"
ATTRS{devpath}=="1.3", ENV{DEVTYPE}=="partition", SYMLINK+="USBInputPart", ATTR{authorized}:="1"
ATTRS{devpath}=="1.3", KERNEL=="hid*", SYMLINK+="USBBadInput", RUN+="/bin/bash -c 'echo 0 > /sys/bus/usb/devices/1-1.3/authorized'"