KERNEL=="sd[a-z]", ATTRS{devpath}=="1.3", ENV{DEVTYPE}=="disk", ACTION=="add", RUN+="/usr/bin/systemctl start inputdiskmnt@%k.service"
KERNEL=="sd[a-z][0-9]", ATTRS{devpath}=="1.3", ENV{DEVTYPE}=="partition", ACTION=="add", RUN+="/usr/bin/systemctl start inputpartmnt@%k.service"

KERNEL=="sd[a-z]", ATTRS{devpath}=="1.3", ENV{DEVTYPE}=="disk", ACTION=="remove", RUN+="/usr/bin/systemctl stop inputdiskmnt@%k.service"
KERNEL=="sd[a-z][0-9]", ATTRS{devpath}=="1.3", ENV{DEVTYPE}=="partition", ACTION=="remove", RUN+="/usr/bin/systemctl stop inputpartmnt@%k.service"
