[Unit]
Description=Start AC-Center on boot

[Service]
Type=simple
User=vm_runner
Group=vm_runner
ExecStart=/bin/bash /src/win10_VM/vm_run.sh
ExecStop=/bin/bash -c "for i in $(ps -ef | grep qemu-system-aarch64 | awk '{print $2}'); do kill $i 2>/dev/null; done"

[Install]
WantedBy=multi-user.target
