[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/Asterix/mounters/inputpartmnt.sh add %i
ExecStop=/usr/share/Asterix/mounters/inputpartmnt.sh remove %i